################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChainVisionApp/.vs
/ChainVisionApp/ChainVisionApp/bin/Debug/net6.0
