################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ChainVisionApp/.vs
/ChainVisionApp/ChainVisionApp/bin/
/ChainVisionApp/ChainVisionApp/obj/
*.user
/.vs
/ChainVisionApp/DataScrapeConsoleApp/bin/
/ChainVisionApp/DataScrapeConsoleApp/obj/
/ChainVisionApp/NewsContentPopulator/bin/Debug/net6.0
