<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChainVisionApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChainVisionApp.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="content">
        <nav class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="greeter">
                <h1>Welcome</h1>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Products">
                        Products
                    </a>
                </li>
            </ul>
        </nav>
        <main class="col-md-9 col-lg-10 ms-sm-auto px-md-4 body-content">
            <div class="pb-3">
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    body {
        margin-bottom: 0;
    }
    .content {
        display: flex;
        background-color: #06061c;
        overflow-x: hidden;
    }

    .body-content {
        background-color: white;
        border-radius: 25px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sidebar {
        height: 100vh;
        color: white;
        width: 300px;
    }

    .sidebar .greeter {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .sidebar .nav-link {
        color: white;
        padding: 0.75rem 1rem;
    }

    .sidebar .nav-link:hover {
        background-color: #333366;
        color: #fff;
    }
</style>
