html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.box {
    border-radius: 8px;
    width: 2px;
    margin: 12px;
    transition: transform 0.3s ease;
}

.box:hover {
    /* transform: scale(1.13) 
    border: 2px solid black;
    */
}

.news-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-item {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-item h5 { 
    margin: 0;
    font-size: 18px;
}

.news-item p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 2%;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 1.3rem;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.containerMain {
    display: flex;
    width: 100%;
}

.columns-vertical {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#columnOne, #columnThree {
    width: 30%;
    max-width: 70px;
}

#columnTwo {
    width: 80%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
}

h1.Title {
    text-align: center; 
}

button {
    margin: 5px; 
    padding: 10px;
}

#Canvas-box {
    width: 800px;
    height: auto;
}

canvas {
    width: 100%; 
    height: auto; 
    max-height: 500px; 
    aspect-ratio: 16 / 9; 
}

h2 {
    align-items: center;
    text-align: center;
}

