@{
    ViewData["Title"] = "ChainVision";
}

<div class="text-center">
    <h1 class="Title">Dashboard</h1>
</div>

<div class="d-flex justify-content-center gap-4">
    <div id="Price" class="box">
        <canvas id="Price-Chart" width="400" height="200"></canvas>
    </div>
    <div id="Inventory" class="box">
        <canvas id="Inventory-Chart" width="400" height="200"></canvas>
    </div>
    <div id="Tariffs" class="box">
        <canvas id="Tarrif-Chart" width="400" height="200"></canvas>
    </div>
</div>
<div class="container">
    <div class="pb-3">
            <h2>Latest News</h2>
            <div id="news-container" class="news-container">
                
            </div>
    </div>
    <div>
        <h2>Alerts</h2>
            <ul id="Alerts">

            </ul>      
    </div>
</div>
<div>
    Last Updated: 11/12/2024 22:34
</div>

<script>
function timer() {
    let counter = 0;

    setInterval(() => {
        console.log("Value: " + counter);
        populateAlerts(counter);
    }, 60000); // Every minute
}

function populateAlerts(alert) {
    let alertItem = document.createElement('li');
    alertItem.innerText = alert;
    document.getElementById("Alerts").appendChild(alertItem);
}

function populateNews(news) {
    let newsItem = document.createElement("a");
    newsItem.innerText = "testing news 121221111111111111111";
    document.getElementById("news-container").appendChild(newsItem);
}


window.onload = function () {
    var ctx = document.getElementById('Price-Chart').getContext('2d');

    for (let i = 0; i < 19; i++) {
        populateAlerts(i); // TODO put data here
        if (i % 11 === 0) { //Clear the Alerts every 11 alerts generated
            console.log("called");
            document.getElementById("Alerts").innerHTML = '';
        }
    }

    populateNews();

    var Price = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'June'], // X-axis labels
            datasets: [{
                label: 'Chocolate',
                data: [21.57, 20.27, 19.58, 30.42, 19.55, 18.54, 18.06],
                backgroundColor: 'brown',
                borderColor: 'brown',
                borderWidth: 1
            },
            {
                label: 'Flour',
                data: [23.57, 23.27, 24.58, 25.42, 27.55, 29.54, 33.06],
                backgroundColor: 'black',
                borderColor: 'black',
                borderWidth: 1
            }
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Price Per Unit',
                    font: {
                        size: 15 // Font size for the title
                    },
                    padding: {
                        bottom: 3
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var inv = document.getElementById('Inventory-Chart').getContext('2d');

    var Inv = new Chart(inv, {
        type: 'bar',
        data: {
            labels: ['Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'June'],
            datasets: [
                {
                    label: 'Coco',
                    data: [21.57, 20.27, 19.58, 30.42, 19.55, 18.54, 18.06],
                    backgroundColor: 'purple',
                    borderColor: 'purple',
                    borderWidth: 1
                },
                {
                    label: 'Bananas',
                    data: [23.57, 23.27, 24.58, 25.42, 27.55, 29.54, 33.06],
                    backgroundColor: 'orange',
                    borderColor: 'orange',
                    borderWidth: 1
                }
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Live Current Inventory',
                    font: {
                        size: 15 // Font size for the title
                    },
                    padding: {
                        bottom: 3
                    }
                }
            },
            scales: {
                x: {
                    barPercentage: 0.8,
                    categoryPercentage: 0.9
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    var tar = document.getElementById('Tarrif-Chart').getContext('2d');

    var tarrif = new Chart(tar, {
        type: 'pie',
        data: {
            labels: ['CAD', 'USA', 'MEX'],
            datasets: [
                {
                    label: '',
                    data: [0.33, 0.55, 0.1],
                    backgroundColor: [
                        'red',
                        'blue',
                        'yellow'
                    ],
                    borderWidth: 1
                },
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Tariff Percentage by Country',
                    font: {
                        size: 15 // Font size for the title
                    },
                    padding: {
                        bottom: 3
                    }
                }
            },
            scales: {
                x: {
                    barPercentage: 0.8,
                    categoryPercentage: 0.9
                },
                legend: {
                    position: 'top',
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });

}

</script>
