@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="Title">Dashboard</h1>
</div>

<div class="d-flex justify-content-center gap-4">
    <div id="Price" class="box">
        <canvas id="Price-Chart" width="400" height="200"></canvas>
    </div>
    <div id="Inventory" class="box">
        <canvas id="Inventory-Chart" width="400" height="200"></canvas>
    </div>
    <div id="Tariffs" class="box">
        <canvas id="Tarrif-Chart" width="400" height="200"></canvas>
    </div>
</div>
<div class="container">
    <div class="pb-3">
            <h2>Latest News</h2>
            <div id="news-container" class="news-container">
                <!-- News items will be added here -->
                
                <ul>
                    <li>Test</li>
                    <li>Hello</li>
                </ul>
            </div>
    </div>
    <div>
        <h2>Alerts</h2>
            <ul id="Alerts">

            </ul>      
    </div>
</div>
<div>
    Last Updated: 11/12/2024 22:34
</div>